* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
    gap: 50px;
    padding: 20px;
}

.input,
.output {
    border: 4px solid #5a5a5a;
    width: 49%;
    min-height: 500px;
    overflow-y: auto;

}

.input {
    resize: none;
}